{% extends 'todo/base.html' %} {% block title %}タスク編集 - To Do Application{% endblock %} {% block content %}
<h2>内容の編集</h2>
<p>以下のフォームからタスクを編集できます。</p>
<form action="{% url 'update' task.id %}" method="post">
  {% csrf_token %}
  <div>
    <label for="titleInput">タイトル</label>
    <br />
    <input id="titleInput" name="title" type="text" placeholder="タイトルを入力" value="{{ task.title }}" />
  </div>
  <div>
    <label for="dueInput">Due at:</label>
    <br />
    <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at|date:'Y-m-d\TH:i' }}" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
<div>
  <a href="{% url 'detail' task.id %}">戻る</a>
</div>
{% endblock %}
